<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>City</th>
      <th>Article</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <% city.authors.select{|author| author.age >= 40 && author.age < 50}.each do |author| %>
        <% author.articles.each do |article| %>
          <% article.comments.each do |comment| %>
            <tr>
              <td><%= author.name %></td>
              <td><%= author.city.name %></td>
              <td><%= article.title %></td>
              <td><%= comment.body_text %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>