List of Includes Demos:

<div style="text-align: left;">
  <a href="<%= all_no_includes_path() %>">
    <p>All Records No Includes</p>
  </a>
  <a href="<%= all_full_includes_path() %>">
    <p>All Records Full Includes</p>
  </a>
</div>